<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="DeclaimerRollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Logs/Declaimer/" />
      <datePattern value="yyyyMMdd-HH'.txt'"/>
      <appendToFile value="true" />
      <staticLogFileName value="false"/>
      <rollingStyle value="Once" />
      <!--<rollingStyle value="Composite" />-->
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
      </layout>
    </appender>
    <appender name="DeclaimerWaitingGodotRollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Logs/WaitingGodot/" />
      <datePattern value="yyyyMMdd-HH'.txt'"/>
      <appendToFile value="true" />
      <staticLogFileName value="false"/>
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
      </layout>
    </appender>
    <appender name="DeclaimerWhiteNightRollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Logs/WhiteNight/" />
      <datePattern value="yyyyMMdd-HH'.txt'"/>
      <appendToFile value="true" />
      <staticLogFileName value="false"/>
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!-- 操作界面日志 -->
      <appender-ref ref="DeclaimerRollingFileAppender" />
      <!-- Fixed Reader异常日志 -->
      <appender-ref ref="DeclaimerWaitingGodotRollingFileAppender" />
      <!-- Handheld Reader异常日志 -->
      <appender-ref ref="DeclaimerWhiteNightRollingFileAppender" />
    </root>
  </log4net>
</configuration>